
.container-first {
    margin-top: 70px;
}

.register-container {
    margin-top: 100px;
    margin-bottom: 100px;
}


.main-login{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 450px;
    padding: 10px 40px;
    color: #FFF;
    text-shadow: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}

.yellow-elements {
    color: black;
    background-color: #e5f442;
}

.register-body {
    background: #f5f1ea url('/img/bcgrd.jpg') no-repeat scroll 50% 0;
}

.boat {
    width: 130px;
    position: absolute;
    top:400px;
    animation-name: animationFrames;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    z-index: -1;
}


@keyframes animationFrames{
    0% { transform: translateX(-300px);}
    100% { transform: translateX(1800px);}
}